<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tittle until</title>
</head>
<body>
<h1>Welcome to text analyazer. enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name="text" style='width: 1257px; height: 127px;'></textarea>
    <input type='checkbox' name='removepunc'> remove punctuations <br>
    <input type='checkbox' name='capitalizer'> capitalizers <br>
    <input type='checkbox' name='newliner'> new liner <br>
    <input type='checkbox' name='spaceremove'> space remove <br>
    <input type='checkbox' name='charcount'> char count <br>
    <button type="submit"> Analyze text</button>
</form>
</body>
</html>

#----- only for backup purpose ------#